<table class="table">
    <thead>
        <tr>
            <th>Lp</th>
            <th>Miasto</th>
            <th>Cena</th>
            <th>Czas dodania</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <!-- @if (tabLength > 0) { -->
        <tbody>
            @for (item of dataFromSrv; track item.id; let i = $index) {
                <tr>
                    <td>{{i + 1}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.price}}zł</td>
                    <td>{{item.date_add}}zł</td>
                    <td><button (click)="delApartments(item.id)" class="btn btn-danger btn-sm">Usuń</button></td>
                </tr>
            }
        </tbody>
    <!-- } -->
</table>
